
:root {
    --primary: #FD9A7D;
}
nav {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    background-color: white;
}
@font-face {
    font-family: MrDafoe;
    src: url(../fonts/MrDafoe-Regular.ttf);
}
@font-face {
    font-family: PlayFair;
    src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
body {
    margin: 0;
}
/* #main-container {
    background-image: url("../images/rachel_3.jpg");
    background-repeat: no-repeat;
    height: 2000px;
} */
#title-section {
    width: 50%;
    background: url("../images/rachel.jpg") no-repeat;
    background-size: contain;
}
#about-section {
    width: 100%;
    background-color: var(--primary);
}
#top {
    height: 800px;
}
h1 {
    font-family: MrDafoe;
    font-weight: 400;
    color: pink;
}
h2 {
    font-family: PlayFair;
    font-weight: 800;
}
.menu-container {
    height: 500px;
    width: 300px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.column {
    flex-direction: column;
}

.fill-image {
    height: 200px;
    width: 200px;
    display: block;
    margin: 6px 6px 0 6px;
    border-radius: 1px;
    /* border-radius: 30% 70% 60% 40% / 60% 60% 40% 40%; */
    padding: 0;
}