
:root {
    --primary: #FD9A7D;
    --font: #3B3838;
}

@font-face {
    font-family: MrDafoe;
    src: url(../fonts/MrDafoe-Regular.ttf);
}
@font-face {
    font-family: PlayFair;
    src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

html,
body {
    height: 97%;
    background-color: #FD9A7D;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* sidebar nav */
/* nav {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 8%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
} */
footer nav#footer-nav {
    position: fixed;
    z-index: 1;
}

/* Front Page Styles */
#about {
    font-family: montserrat;
    background-color: white;
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: var(--font);
}
#desktop-notification {
    visibility: hidden;
}

#main-container {
    display:block; 
    margin: auto;
    width: 100%;
    font-family: montserrat; 
    font-size:35px; 
    height: 1000px; 
}
#shop {
    width: 40px;
    height: 32px;
}
h1 {
    margin-top: 40px;
    /* margin-left: 200px; */
    font-family: Playfair;
    font-size: 75px;
    font-weight: 600;
    color:var(--font);
    text-align: center
}
h2 {
    font-family: MrDafoe;
    font-weight: bolder;
}
.center {
    display: block;
    margin: auto;
}


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column {
    flex-direction: column;
}

.fill-image {
    height: 200px;
    width: 200px;
    display: block;
    margin: 6px 6px 0 6px;
    border-radius: 1px;
    /* border-radius: 30% 70% 60% 40% / 60% 60% 40% 40%; */
    padding: 0;
}
.indent {
    padding-left: 50px;
}
.nav-list {
    list-style: none;
}
.nav-list li {
    margin-top: 80px;
    margin-left: 10px;
}

.social {
    height: 40px;
    width: 40px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

/* email form styles */
#email-form {
    display: block;
    margin: auto;
    width: 20%;
}
#email-addr,
#email-name,
#email-body,
#email-submit {
    font-family: Montserrat;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: none;
}
#email-submit {
    background-color: white;
    letter-spacing: 2px;
}
#email-submit:hover {
    cursor: pointer;
}
#email-addr,
#email-name {
    width: 40%;
}
#email-body {
    display: block;
    margin: auto;
    width: 100%;
}
.menu-container {
    display: block;
    background-color: white;
    margin: auto;
    border-radius: 7px;
    padding: 5px 10px 120px 10px;
    height: 500px;
    width: 300px;
}
/* end email form styles */

/*** media queries ***/
/* iphone 6 plus */
@media screen and (max-width: 414px) {
    #about {
        padding: 10px;
        font-size: 20px;
        text-align: center;
        margin-top: -10px;
    }
    #header {
        margin: 30px 20px;
    }
    #header a {
        text-decoration: none;
        color: white;
        font-size: 12px;
        text-align: center;
        font-family: Montserrat;
    }
    #rachel {
        margin-top: 10px;
        width: 414px;
        height: 356px;
    }
    #logo {
        width: 150px;
        height: 52px;

    }
    #footer-logo {
        width: 250px;
        height: 86px;
        margin-top: 20px;
    }
    #footer-nav {
        margin-top: 40px;
        justify-content: space-evenly;
    }
    #shop-link {
        margin: 7px 0 0 140px;
    }
}

/* iphone 6/7/8 */
@media screen and (max-width: 375px) {
    #rachel {
        width: 375px;
        height: 315px;
    }
}
/* Moto G4 */
@media screen and (max-width: 360px) {
    #rachel {
        width: 360px;
        height: 309px
    }
    #shop-link {
        margin: 7px 0 0 85px;
    }
}
/* iphone 5 */
@media screen and (max-width: 320px) {
    #rachel {
        width: 320px;
        height: 275px
    }
    #shop-link {
        margin: 7px 0 0 80px;
    }
}

/* desktop notification */
@media screen and (min-width: 768px) {
    #main-container {
        display: none;
    }
    #desktop-notification {
        visibility: visible;
    }
}




